<% provide(:title, "メッセージルーム") %>
<%= render 'layouts/header' %>
<div class="row">
  <aside class="col-md-4">
    <h2>
      <%= "借りたいもの | " + @task.content %>
    </h2>
    <section class="message_form">
      <%= render 'messagerooms/messagerooms_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="messages_title">
      <% if @messageroom.owner_id == current_user.id %>
        <h3><%= link_to User.find(@messageroom.guest_id).name, user_path(User.find(@messageroom.guest_id)) %>とのメッセージ</h3>
      <% else %>
         <h3><%= link_to @task.user.name, user_path(@task.user) %>とのメッセージ</h3>
      <% end %>
      <%= render 'messagerooms/task_finish_form' %>
    </div>
    <%= render 'messagerooms/messages' %>
  </div>
</div>