<% if @feed_items.any? %>
  <ol class="tasks">
    <% @feed_items.each do |task| %>
      <li id="依頼ナンバー-<%= task.id %>">
        <span class="user"><%= link_to task.user.name, task.user %></span>
        <span class="content"><%= task.content %></span>
        <span class="timestamp">
          <%= time_ago_in_words(task.created_at) %>
        </span>
        <% if current_user?(task.user) %>
          <%= link_to "削除", task, method: :delete, data: { confirm: "削除します。大丈夫ですか?" } %>
          <%= link_to "依頼のメッセージルーム一覧へ", task_messagerooms_path(task_id: task.id) %>
        <% end %>
        <% unless is_current_user_task?(task) %>
              <% if messageroom_exist?(task) %>
                <%= link_to "メッセージルームに行く", task_messageroom_path(task_id: task.id, id: task.messagerooms.find_by(owner_id: task.user, guest_id: current_user.id).id) %>
              <% else %>
                <%= form_with(url: task_messagerooms_url(task.id)) do |f| %>
                  <%= f.submit "貸せる", class: "btn btn-primary" %>
                <% end %>   
              <% end %> 
        <% end %>  
     </li>
    <% end %>
  </ol>
<% end %>